# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [ ]:
!python -V

Python 3.10.11

# 1.3 Trabajando con datos

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [ ]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [ ]:
dataset[['Kilometraje', 'Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
taset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1, 2, 3

(1, 2, 3)

In [ ]:
name = 'Audi A3'
price = 18000
(name, price)

('Audi A3', 18000)

In [ ]:
car_names = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
car_names

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(car_names)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
car_names = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
car_names

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
car_names[0]

'Jetta Variant'

In [ ]:
car_names[1]

'Passat'

In [ ]:
car_names[-1]

'DS5'

In [ ]:
car_names[1:3]

('Passat', 'Crossfox')

In [ ]:
car_names = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
car_names

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
car_names[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
car_names[-1][1]

'Gol'

# 2.3 Iterando en tuplas

In [ ]:
car_names = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
car_names

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in car_names:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [ ]:
car_names = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
car_names

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
car_1, car_2, car_3, car_4 = car_names

In [ ]:
car_1

'Jetta Variant'

In [ ]:
car_2

'Passat'

In [ ]:
car_3

'Crossfox'

In [ ]:
car_4

'DS5'

In [ ]:
_, A, _, B = car_names

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
#if there are too many elements to skip, add *_ to skip all elements before or after the element that will be used
_, C, *_ = car_names

In [ ]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
cars = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
cars

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
prices = [88078.64, 106161.94, 72832.16, 124549.07]
prices

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(cars, prices))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(cars, prices):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for car, price in zip(cars, prices):
  print(car, price)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for car, price in zip(cars, prices):
  if price > 100000:
    print(car, price)

Passat 106161.94
DS5 124549.07

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
dictionary = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
cars = ['Jetta Variant', 'Passat', 'Crossfox']
cars

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
prices = [88078.64, 106161.94, 72832.16]
prices

[88078.64, 106161.94, 72832.16]

In [ ]:
cars.index('Passat')

1

In [ ]:
prices[cars.index('Passat')]

106161.94

In [ ]:
data = {'Jeta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

{'Jeta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(data)

dict

### Creando diccionarios con *zip()*

In [ ]:
list(zip(cars, prices))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
data = dict(zip(cars, prices))
data

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [ ]:
data = {'Jeta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

{'Jeta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
data['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [ ]:
'Passat' in data

True

In [ ]:
'Fusca' in data

False

In [ ]:
'Fusca' not in data

True

## *len(dict)*

Devuelve el número de items del diccionario.

In [ ]:
len(data)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [ ]:
data['DS5'] = 54690.32
data

{'Jeta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 54690.32}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [ ]:
del data['Passat']

In [ ]:
data

{'Jeta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 54690.32}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [ ]:
data.update({'Passat': 106161.94})
data

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Passat': 106161.94}

In [ ]:
data.update({'Passat': 106161.95, 'Fusca': 140000})
data

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Passat': 106161.95,
 'Fusca': 140000}

## *dict.copy()*

Crea una copia del diccionario.

In [ ]:
data_copy = data.copy()

In [ ]:
data_copy

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Passat': 106161.95,
 'Fusca': 140000}

In [ ]:
del data_copy['Fusca']
data_copy

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Passat': 106161.95}

In [ ]:
data

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Passat': 106161.95,
 'Fusca': 140000}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [ ]:
data_copy.pop('Passat')

106161.95

In [ ]:
data_copy

{'Jeta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 54690.32}

In [ ]:
data_copy.pop('Passat')

KeyError: ignored

In [ ]:
data_copy.pop('Passat', 'Key not found')

'Key not found'

In [ ]:
data_copy.pop('Crossfox', 'Key not found')

72832.16

In [ ]:
data_copy

{'Jeta Variant': 88078.64, 'DS5': 54690.32}

## *dict.clear()*

Borra todos los itens del diccionario.

In [ ]:
data_copy.clear()

In [ ]:
data_copy

{}

# 3.4 Iterando en diccionarios

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [ ]:
data = {'Jeta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 54690.32, 'Fusca': 150000,'Passat': 106161.94}
data

{'Jeta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 54690.32,
 'Fusca': 150000,
 'Passat': 106161.94}

In [ ]:
data.keys()

dict_keys(['Jeta Variant', 'Crossfox', 'DS5', 'Fusca', 'Passat'])

In [ ]:
for key in data.keys():
  print(key)

Jeta Variant
Crossfox
DS5
Fusca
Passat

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [ ]:
data.values()

dict_values([88078.64, 72832.16, 54690.32, 150000, 106161.94])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [ ]:
data.items()

dict_items([('Jeta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 54690.32), ('Fusca', 150000), ('Passat', 106161.94)])

In [ ]:
for item in data.items():
  print(item)

('Jeta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 54690.32)
('Fusca', 150000)
('Passat', 106161.94)

In [ ]:
for key, value in data.items():
  print(key, '->', value)

Jeta Variant -> 88078.64
Crossfox -> 72832.16
DS5 -> 54690.32
Fusca -> 150000
Passat -> 106161.94

In [ ]:
for key, value in data.items():
  if (value) > 100000:
    print(key)

Fusca
Passat

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
data = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
data

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
prices = []
for price in data.values():
  prices.append(price)
prices

[88078.64, 106161.94, 72832.16]

In [ ]:
car_prices = 0
for price in data.values():
  car_prices += price 
car_prices

267072.74

In [ ]:
#with built-in function
list(data.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(data.values())

TypeError: ignored

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [ ]:
def mean():
  value = (1 + 2 + 3) / 3
  print(value)

In [ ]:
mean()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [ ]:
def mean(n1, n2, n3):
  value = (n1 + n2 + n3) / 3
  print(value)

In [ ]:
mean(345, 231, 654)

410.0

In [ ]:
mean(1, 2, 3)

2.0

In [ ]:
def mean(my_list):
  value = sum(my_list) / len(my_list)
  print(value)

In [ ]:
result = mean([32, 65, 32, 16])

TypeError: ignored

In [ ]:
result

NameError: ignored

In [ ]:
type(result)

NameError: ignored

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
media([1, 2, 3, 4, 5, 6, 7])

In [ ]:
resultado = media([1, 2, 3, 4, 5, 6, 7])

In [ ]:
resultado

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [ ]:
import pandas as pd

### Creando una Series a partir de una lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [ ]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [ ]:
dataset[['Nombre', 'Año', 'Motor','Valor', 'Kilometraje', 'Cero_km']]

          Nombre   Año            Motor      Valor  Kilometraje  Cero_km
0  Jetta Variant  2003  Motor 4.0 Turbo   88078.64      44410.0    False
1         Passat  1991     Motor Diesel  106161.94       5712.0    False
2       Crossfox  1990  Motor Diesel V8   72832.16      37123.0    False

### Creando un DataFrame a partir de un diccionario

In [ ]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0)

In [ ]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
dataset['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [ ]:
type(dataset['Valor'])

pandas.core.series.Series

In [ ]:
dataset[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [ ]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [ ]:
dataset[0:3]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [ ]:
dataset.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat', 'DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [ ]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [ ]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [ ]:
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [ ]:
dataset.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [ ]:
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [ ]:
dataset.iloc[[1, 42, 25], [0, 5, 2]]

                  Motor      Valor  Kilometraje
Nombre
Passat     Motor Diesel  106161.94       5712.0
Optima    Motor 1.8 16v   86641.34          NaN
Up!     Motor Diesel V6   71367.10          NaN

In [ ]:
dataset.iloc[:, [0, 5, 2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]

# 5.3 Consultas en DataFrames

### Utilizando el método query

# 5.4 Iterando con DataFrames

# 5.5 Tratamiento de datos